@import '../variables';

.header {
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      font-size: 24px;
      color: white;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    h6 {
      color: white;
    }
  }

  &__cart {
    > a {
      color: #fff;
      background-color: lighten($color: $orange, $amount: 10%); 
      min-height: 50px;
      padding-left: 1rem;
      padding-right: 1rem;

      span {
        display: flex;
        align-items: center;
      }
    }
  }
}
